.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.input-field-label {
  margin-bottom: 0.1rem;
  margin-left: 0.1rem;
  font-size: 1.1rem;

  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.input-field-inner {
  font-family: var(--font-family);
}
.input-field-inner[type=text],
.input-field-inner[type=email],
.input-field-inner[type=password] {
  color: var(--color-text-1);
  background-color: var(--color-field);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.input-field-error {
  color: tomato;
  /*font-weight: bold;*/
}