.LoginPopup {
  background-color: var(--color-bg);
  color: var(--color-text-2);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes loginPopupLoad {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.LoginPopup-popup {
  animation: 0.6s ease-in-out 0s 1 loginPopupLoad;
  background-color: var(--color-bg-secondary);
  padding: 2rem;
  border-radius: 0.5rem;
  width: 400px;
  max-width: 100vw;
  margin: auto;
  box-shadow: var(--default-box-shadow);
}

.login-form-link {
  color: var(--link-color);
  text-decoration: none;
  margin-top: 0.8rem;
  display: block;
}