.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 20rem;
  --modal-border-radius: 0.5rem;
}

.modal-content {
  background-color: var(--color-modal);
  padding: 1.5rem;
  border-radius: var(--modal-border-radius) var(--modal-border-radius) 0px 0px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  background-color: var(--color-modal-buttons);
  padding: 1.5rem;
  border-radius: 0px 0px var(--modal-border-radius) var(--modal-border-radius);
}

.modal-backdrop {
  opacity: 0.85;
  background: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 300ms ease-in-out;
  background-color: rgba(0,0,0,0.75);
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  opacity: 0;
  transform-origin: top left;
  transform: scale(0) translate(-50%, -50%);
  transition: all 300ms ease-in-out;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}

.ReactModal__Content--before-close {
  transform: scale(0) translate(-50%, -50%);
}
