.NavBar {
  max-width: var(--page-max-width);
  --navbar-height: 5rem;
  height: var(--navbar-height);
  padding: 0 var(--page-gutter);

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

  overflow: scroll hidden;
}

.NavBar-buttons {
  display: flex;
  gap: 0.5rem;
}

.nav-logo {
  height: calc(var(--navbar-height) * 0.5);
  width: auto;
}
