.GuildList {
  width: 72px;
}

.GuildList > ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
}

.GuildList-item-wrapper {
  width: 100%;
  height: 48px;
  display: flex;
  cursor: pointer;
}

.GuildList-item-wrapper .GuildList-item {
  border-radius: 50%;
  transition: all 0.1s ease-out;
}

.GuildList-item-wrapper:hover .GuildList-item {
  border-radius: 30%;
}

.GuildList-item {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
}

.GuildList-item-pill-wrapper {
  width: 12px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.GuildList-item-pill {
  transform: translateX(-12px);
  background-color: white;
  width: 12px;
  height: 0px;
  transition: all 0.1s ease-out;
  border-radius: 0 4px 4px 0;
  margin-left: -12px;
}

.pill-notification {
  /* Notification */
  transform: translateX(-2px);
  height: 8px;
}
.GuildList-item-wrapper:hover .GuildList-item-pill {
  /* Hover over */
  transform: translateX(-2px);
  height: 20px;
}

.GuildList-guilds {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.GuildListGuild {
  width: 100%;
  height: 100%;
  transition: all 0.1s ease-out;
}

.GuildListGuild-acronym {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  overflow: hidden;
}

.GuildList-item-wrapper:not(.disable-guildlist-item-color) .GuildList-item {
  background-color: var(--color-bg-tertiary);
}

.GuildList-item-wrapper:hover:not(.disable-guildlist-item-color)
  .GuildList-item,
.GuildList-item-wrapper-active:not(.disable-guildlist-item-color)
  .GuildList-item {
  background-color: var(--color-brand);
}

.GuildList-item-wrapper-active .GuildList-item {
  border-radius: 30%;
}

.GuildList-home-button-inner {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  mask-image: url(/dist/assets/logos/logo.svg);
  mask-size: 30px 30px;
  mask-position: center;
  mask-repeat: no-repeat;
}

.GuildListSeparator-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.GuildListSeparator {
  width: 48px;
}

.GuildList-addguild-button-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: var(--color-text-1);
}
