.Topbar {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  /*position: sticky;
  top: 0;*/
  background-color: var(--color-bg);
}

.searchbar {
  color: var(--color-text-1);
  position: relative;
  min-width: 15rem;
  width: 50%;
  max-width: 22rem;
}
.searchbar-input {
  display: flex;
  align-items: center;
  background-color: var(--color-btn);
  border-radius: 0.5rem;
  z-index: 1;
  position: relative;
}
.searchbar-icon {
  margin: 0 1.25rem 0 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
}

.searchbar-inner {
  color: var(--color-text-1);
  background-color: var(--color-btn);
  padding: 0.625rem 1.25rem 0.625rem 0;
  border-radius: 0.5rem;
  outline: 0;
  width: 100%;
}

.SearchOverlay {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 0.5rem;
  background-color: var(--color-primary-800);
  border-color: var(--color-primary-700);
  border-width: 1px;
  min-height: 12.3rem;
  max-height: 50vh;
  top: -10px;
  left: -10px;
  right: 0px;
  box-shadow: -3px 4px 14px rgba(0, 0, 0, 0.7);
  width: calc(100% + 1.25rem);
}

.SearchOverlay-scroller {
  overflow-y: scroll;
}

.SearchOverlay-content {
  position: relative;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.SearchResult {
  width: calc(100% - 1.25rem);
  height: 3.625rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  user-select: none;
}
.SearchResult:hover {
  background-color: var(--color-primary-700);
}

.SearchResult-type {
  background-color: var(--color-brand);
  padding: 0.2rem;
  border-radius: 0.25rem 0.3rem 0.25rem 0.3rem;
  margin-left: 0.25rem;
}

.SearchOverlay.status-noresults,
.SearchOverlay.status-loading {
  justify-content: center;
}
.search-no-results,
.search-loading {
  font-size: 1.2rem;
}