
.Downloads-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.Downloads {
  animation: 0.6s ease 0s 1 homepage-hero-load;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-grow: 1;
  padding: 0 1rem;
}

.Downloads-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.Downloads-columns .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--color-bg-tertiary);
  border-radius: 1rem;
  padding: 0.5rem;
  transition: background-color 0.5s, transform 0.5s, box-shadow 0.5s;

  transform: scale(1);
  box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.1) , 0px 2px 4px -1px rgba(0,0,0,0.06);
}

.Downloads-columns .col:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1) , 0px 4px 6px -2px rgba(0,0,0,0.05);
}

.Downloads-columns .col-active {
  background-color: var(--color-brand);
  transform: scale(1.1);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1) , 0px 4px 6px -2px rgba(0,0,0,0.05);

  z-index: 1;
}

.Downloads-columns .col-active:hover {
  background-color: var(--color-brand-hover);
  transform: scale(1.2);
  box-shadow: 0px 20px 25px -5px rgba(0,0,0,0.1) , 0px 10px 10px -5px rgba(0,0,0,0.04);
}

.Downloads-nav-wrapper {
  display: flex;
  justify-content: center;
}