.App {
  height: 100vh;
}

.footer-logos {
  display: flex;
  gap: 1.5rem;
}

.footer-logos .gitlab-logo,
.footer-logos .discord-logo {
  color: var(--color-primary-300);
  font-size: 1.5rem;
  position: relative;
  top: 1.5px;
}
.footer-logos .gitlab-logo:hover,
.footer-logos .discord-logo:hover {
  color: var(--color-primary-200);
}

.footer {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 3rem 0;
}

.footer a {
  color: var(--color-primary-300);
  text-decoration: none;
}
.footer a:hover {
  color: var(--color-primary-200);
}

.loadingSpinnerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  flex-direction: column;
  gap: 3rem;

  background-color: var(--color-bg);
  color: white;
}

@keyframes loadingSpinnerAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loadingSpinnerAnimation2 {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.75);
  }
  to {
    transform: scale(1);
  }
}

.loadingSpinner {
  animation: loadingSpinnerAnimation 1s ease-in-out infinite;
}

.loadingSpinner > img {
  animation: loadingSpinnerAnimation2 1s ease-in-out infinite;
}

.DevWarning {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  background-color: #e44548;
  position: fixed;
  pointer-events: none;
  opacity: 0.3;
  bottom: 0;
  right: 0;
}
.DevWarning p {
  margin: 0;
  padding: 0;
}

.pathLoading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
