.Tooltip {
  --tooltip-color: var(--color-primary-1000);
  --tooltip-arrow-size: 7.5px;
  position: relative;
}
.Tooltip-child {
  position: absolute;
  background-color: var(--tooltip-color);
  pointer-events: none;
  opacity: 0;
  width: auto;
  transition: all 0.05s;
  scale: 0.75;
  padding: 5px;
  border-radius: 5px;
  /*font-weight: 600;*/
}

.Tooltip:hover .Tooltip-child {
  opacity: 1;
  scale: 1;
}

.Tooltip-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
  transform-origin: bottom center;
}

.Tooltip-right {
  left: 100%;
  top: 50%;
  transform: translateY(-50%) translateX(10px);
  transform-origin: top left;
}


.Tooltip-child::before {
  content: '';
  position: absolute;
  border: var(--tooltip-arrow-size) solid transparent;
}

.Tooltip-right::before {
  border-right-color: var(--tooltip-color);
  top: 50%;
  transform: translate(-120%, -50%);
}

.Tooltip-top::before {
  border-top-color: var(--tooltip-color);
  left: 50%;
  transform: translate(-50%, 120%);
  top: 10px;
}