.HomePage {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

@keyframes homepage-hero-load {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.homepage-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  animation: 0.6s ease 0s 1 homepage-hero-load;
  gap: 1rem;
}

@media screen and (max-width: 640px) {
  .homepage-hero {
    padding: 3rem;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
  }
}

.homepage-hero h1 {
  font-size: 58px;
}

.homepage-hero-cta-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}