body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-2);
  background-color: var(--color-bg);
  scroll-behavior: smooth;
}

.color-text-1 {color: var(--color-text-1);}
.color-text-2 {color: var(--color-text-2);}
.color-text-3 {color: var(--color-text-3);}
.color-text-4 {color: var(--color-text-4);}
.color-text-5 {color: var(--color-text-5);}

.font-bold {font-weight: 700;}
.font-medium {font-weight: 500;}

.text-header-2 {font-size: 1.875rem;}

.truncate {text-overflow: ellipsis;}

* {
  /* scrollbar-width: thin; */
  scrollbar-color: var(--color-primary-700) transparent;
}

:root {
  --page-gutter: 24px;
  --page-max-width: 1260px;
}

@media screen and (min-width: 768px) {
  :root {
    --page-gutter: 40px;
  }
}
