/* File for global variables */

:root {
  --color-text-1: rgb(255, 255, 255);
  --color-text-2: rgb(225, 225, 225);
  --color-text-3: rgb(200, 200, 200);
  --color-text-4: rgb(175, 175, 175);
  --color-text-5: rgb(150, 150, 150);

  --link-color: #00b0f4;

  --color-brand-glow: hsla(248, 97.8%, 64.7%, 0.3);
  --color-brand: hsl(248, 98%, 65%);
  --color-brand-hover: hsl(248, 50%, 50%);
  --color-brand-disabled: hsl(248, 83%, 75%);

  /*--color-primary-100: #e9e9e9;
  --color-primary-200: #c2c7ce;
  --color-primary-300: #81878f;
  --color-primary-600: #454950;
  --color-primary-700: #32373d;
  --color-primary-750: #262c31;
  --color-primary-800: #202429;
  --color-primary-900: #181b20;
  --color-primary-1000: #18191c;*/

  --color-primary-100: hsl(225, 8%, 45%);
  --color-primary-150: hsl(225, 8%, 42.5%);
  --color-primary-200: hsl(225, 8%, 40%);
  --color-primary-250: hsl(225, 8%, 37.5%);
  --color-primary-300: hsl(225, 8%, 35%);
  --color-primary-350: hsl(225, 8%, 32.5%);
  --color-primary-600: hsl(225, 8%, 30%);
  --color-primary-650: hsl(225, 8%, 27.5%);
  --color-primary-700: hsl(225, 8%, 25%);
  --color-primary-750: hsl(225, 8%, 22.5%);
  --color-primary-800: hsl(225, 8%, 20%);
  --color-primary-850: hsl(225, 8%, 17.5%);
  --color-primary-900: hsl(225, 8%, 15%);
  --color-primary-950: hsl(225, 8%, 12.5%);
  --color-primary-1000:hsl(225, 8%, 10%);

  --color-bg: var(--color-primary-900);
  --color-bg-primary: var(--color-bg);
  --color-bg-secondary: var(--color-primary-800);
  --color-bg-tertiary: var(--color-primary-700);
  --color-bg-quaternary: var(--color-primary-600);

  --color-modal: var(--color-primary-800);
  --color-modal-buttons: var(--color-primary-700);

  --color-btn: var(--color-primary-1000);
  --color-btn-hover: var(--color-primary-900);

  --color-field: var(--color-primary-750);

  /*--font-family: 'Inter', sans-serif;*/
  --font-family-base: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family: var(--font-family-base);
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

  --default-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}
