.BaseLayout {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Content {
  flex: 1 1 auto;
  display: flex;
  background-color: red;
  display: flex;
}

.Sidebar {
  background-color: var(--color-primary-750);
  width: 240px;
  flex-direction: column;
  flex: 0 0 auto;
  display: flex;
}

.Sidebar-custom-content {
  flex: 1 1 auto;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
}

.MainContent {
  background-color: var(--color-bg-tertiary);
  flex: 1 1 auto;
  display: flex;
}