.Sidebar-userarea-wrapper {
  height: 53px;
  background-color: var(--color-bg-secondary);
}

.Sidebar-userarea {
  padding: 0 8px;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 8px;
}

.Sidebar-userarea-avatar {
  width: 32px;
  height: 32px;
  background-color: cornflowerblue;
  border-radius: 50%;
}

.Sidebar-userarea-username {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  font-weight: bold;
  font-size: 14px;
  user-select: none;
}

.Sidebar-userarea-buttons {
  display: flex;
}

.Userarea-btn {
  cursor: pointer;
  font-size: 1.2rem;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.Userarea-btn:hover {
  background-color: var(--color-bg-tertiary);
}

.Userarea-avatar-wrapper {
  position: relative;
}
.StatusChooser {
  position: absolute;

  /* transform: translate(2.5px, -70px); /**/
  bottom: 57px;
  left: 80px;

  width: 220px;

  background-color: var(--color-bg);
  max-height: calc(100vh - 32px);
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
  padding: 7px;
}

.StatusChooserItem {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 2px 0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  min-height: 32px;
  padding: 4px 8px;
  color: var(--color-text-4);
}
.StatusChooserItem:hover {
  color: white;
  background-color: var(--color-brand);
}
.StatusChooserItem:hover .StatusChooserItem-icon {
  color: white !important;
}
.StatusChooserItem-icon {
  width: 16px;
  height: 16px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}