.Button {
  border: none;
  font-family: var(--font-family);
  background-color: var(--color-btn);
  color: var(--color-text-1);
  padding: .5rem .7rem .5rem .7rem;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  transition: background-color 0.3s;

  font-size: large;
}

.Button:hover {
  background-color: var(--color-btn-hover);
}

.Button:disabled {
  cursor: not-allowed;
  opacity: .5;
  background-color: var(--color-btn);
}

.Button.btn-brandcolor {
  background-color: var(--color-brand);
}
.Button.btn-brandcolor:hover {
  background-color: var(--color-brand-hover);
}

.Button.btn-secondary {
  background-color: transparent;
}
.Button.btn-secondary:hover {
  background-color: transparent;
  text-decoration: underline;
}
.Button.btn-large {
  font-size: 1.1rem;
  padding: .7rem .9rem .7rem .9rem;
}
.Button.btn-wide {
  width: 100%;
}

.Button > svg {
  transform: scale(1.1);
}

.LinkButton {
  text-decoration: none;
}