.Sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 2rem 0 2rem 0;
  background-color: var(--color-bg-secondary);
}

.sidebar-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-user-icon {
  font-size: 4rem;
}
